<div class="card">
  <div class="card-header unique-color lighten-1 white-text">
    Parameter
  </div>
  <div class="card-body">
    <p class="card-text">Parameter auswählen</p>
    <input class="param" type="checkbox" name="speed" (change)="this.updateChartSelection($event)">Geschwindigket<br>
    <input class="param" type="checkbox" name="alt" (change)="updateChartSelection($event)">Höhe<br>
    <input class="param" type="checkbox" name="temp_chip" (change)="updateChartSelection($event)">Temperatur: CPU<br>
    <input class="param" type="checkbox" name="temp_extern" (change)="updateChartSelection($event)">Temperatur: Extern<br>
    <input class="param" type="checkbox" name="temp_case" (change)="updateChartSelection($event)">Temperatur: Box<br>
    <input class="param" type="checkbox" name="pressure" (change)="updateChartSelection($event)">Druck<br>
    <br>
    <p class="card-text">Modus</p>
    <input class="param" type="checkbox" name="multiChart" (change)="updateChartSelection($event)">Multi<br>
  </div>
</div>
