<ac-map [sceneMode]="sceneMode" id="main-map">
    <ac-layer acFor="let point of points" [context]="this" [show]="show">
        <ac-wall-desc props="{
          show : point.show, //optional
          positions : point.positions,
          material : point.material //optional
        }">
        </ac-wall-desc>
  </ac-layer>
  <ac-map-layer-provider [provider]="osmProvider"
                         [options]="{
                              url : 'https://a.tile.openstreetmap.org/'
                          }">
  </ac-map-layer-provider>

</ac-map>
<button (click)="onClickMe()">Click me!</button>