.mat-table {
  overflow: auto;
  max-height: 500px;
  width: 95%;
}

.signature {
  font-size: 90%;
  color: #868e96;
}

.pic-signature {
  margin-top: 18px;
}

.btn-navigate {
  width: 50% !important;
}
