<div class="row">
  <div class="col-sm-4">
    <img src="http://4.bp.blogspot.com/-usm8Zvgt6sc/VXCwhpurswI/AAAAAAAAAK4/GAvuRBQgyXQ/s1600/AG%2BWetterballon%2BKrahl%2B4.png" class="img-fluid" alt="Webcam der Sonde">
  </div>
  <div class="col-sm-8">

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Parameter</th>
        <th>Wert</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Höhe</td>
        <td>11.347 m</td>
      </tr>
      <tr>
        <td>Steigen</td>
        <td>3,4 m/s</td>
      </tr>
      <tr>
        <td>Geschwindigkeit</td>
        <td>46 km/h</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
