<div class="row">
  <div class="col-sm-4">
    <img src="../../../assets/default-picture.jpg" class="img-fluid" alt="Webcam der Sonde">
  </div>
  <div class="col-sm-8">

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Parameter</th>
        <th>Wert</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of this.smallTelemetryOutput">
        <td>{{item.parameter}}</td>
        <td>{{item.value + ' ' + item.unit}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
