<div class="row">
  <div class="col-sm-4">
    <figure *ngIf="!this.lastPicture" class="figure">
      <img src="../../../assets/default-picture.jpg" class="figure-img img-fluid" alt="Webcam der Sonde">
      <figcaption class="figure-caption">Noch kein Bild empfangen.</figcaption>
    </figure>

    <figure *ngIf="this.lastPicture" class="figure">
      <a (click)="picDialog.show(); onDialogOpen()">
        <img [src]="'data:image/png;base64,'+this.lastPicture?.image_base64" class="figure-img img-fluid" [alt]="'Bild Nummer '+this.lastPicture?.image_counter" />
      </a>
      <figcaption class="figure-caption pic-signature">Bild  Nr. {{this.lastPicture?.image_counter}} empfangen um {{ this.convertTimestampToTime(this.lastPicture?.timestamp) }}</figcaption>
    </figure>
  </div>

  <div class="col-sm-8">

    <table class="table table-bordered">
      <thead class="blue-grey lighten-4">
      <tr>
        <th>Überblick</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of this.smallTelemetryOutput">
        <td>
          <i *ngIf="item.icon" class="{{item.icon}} icon-width" aria-hidden="true"></i>
          {{item.parameter}}
        </td>
        <td>{{item.value + ' ' + item.unit}}</td>
      </tr>
      </tbody>
    </table>
    <div class="signature">Paket Nr. {{this.selTelemetry?.getPackageCounter().value}} empfangen um {{
      this.convertTimestampToTime(this.selTelemetry?.timestamp) }}</div>
  </div>
</div>

<div mdbModal #picDialog="mdb-modal" class="pic-dialog modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div *ngIf="this.pictureList.length > 0" class="modal-dialog modal-notify modal-info" role="document">

    <div class="modal-content">
      <div class="modal-header stylish-color-dark">
        <p class="heading lead">Bild Nr. {{this.pictureList[this.selIndex].image_counter}} von {{this.pictureList[this.pictureList.length - 1].image_counter}}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="picDialog.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="text-center">
          <img [src]="'data:image/png;base64,'+this.pictureList[this.selIndex].image_base64" class="figure-img img-fluid" [alt]="'Bild Nummer '+this.pictureList[this.selIndex].image_counter" />
          <div class="signature">Empfangen um {{ this.convertTimestampToTime(this.pictureList[this.selIndex].timestamp) }}</div>
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <a type="button" (click)="loadPrevPicture()" class="btn btn-primary unique-color btn-navigate" mdbRippleRadius>
          <i class="fa fa-chevron-left" style="font-size:12px; margin-right:8px;" aria-hidden="true"></i>Zurück
        </a>
        <a type="button" (click)="loadNextPicture()" class="btn btn-primary unique-color btn-navigate" mdbRippleRadius>
          Vor<i class="fa fa-chevron-right" style="font-size:12px; margin-left:8px;" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
