/* You can add global styles to this file, and also import other style files */
//




html, body {
  height: 100vh;
  margin:0;
  padding:0;
  overflow: hidden;
}



main{
  margin-top:  56px;
  margin-bottom: 70px;
  overflow-y:  auto;
  height: calc(100vh - 70px - 64px);
}

.container{
  position: relative;

  min-height: 100%;

  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-toggler-icon i.fa.fa-bars{
  visibility: hidden;
}

.icon-width {
  width: 16px;
}

.navbar.scrolling-navbar{
  z-index:1100 !important;
}



.leaflet-container{
  height: 100%;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Where the header height changes
@media (min-width: 600px){
  main{
    margin-top:  64px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

