<ngx-charts-line-chart ng-if="show"
  [view]="view"
  class="chart-container"
  [scheme]="colorScheme"
  schemeType="ordinal"
  [results]="chartData"
  legend="true"
  (legendLabelClick)="onLegendLabelClick($event)"
  gradient="false"
  xAxis="true"
  yAxis="true"
  showXAxisLabel="true"
  showYAxisLabel="true"
  xAxisLabel="Zeit"
  yAxisLabel="Wert"
  autoScale="true"
  timeline="true"
  showGridLines="true"
  [curve]="curve"
  (select)="select($event)">
</ngx-charts-line-chart>
<button (click)="onClickMe()">Click me!</button>
