<p>
  <button (click)="this.showOrHideTelemetry()" class="collapse-telemetry btn btn-primary unique-color" type="button" data-toggle="collapse" data-target="#collapseTelemetry" aria-expanded="false" aria-controls="collapseExample">
    {{this.collapseText}}
  </button>
</p>

<div class="collapse {{this.collapseState}}" id="collapseTelemetry">

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Parameter</th>
      <th>Wert</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of this.lastTelemetryOutput">
      <td>{{item.parameter}}</td>
      <td>{{item.value + ' ' + item.unit}}</td>
    </tr>
    </tbody>
  </table>

</div>
