.collapse-telemetry {
  width: 100%;
  text-align: center;
  margin-left: 0px;
}

table.table th, table.table td {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.table-container {
  width: 33%;
}
