<div class="card">
  <div class="card-header deep-orange lighten-1 white-text">
    Uhrzeit auswählen
  </div>
  <div class="card-body">
    <p class="card-text" style="float:left;">Hier kann eine bestimmte Empfangszeit zur Anzeige ausgewählt werden.</p>
    <p *ngIf="this.selectedTelemetry" class="card-text" style="float:right;">Zeit: {{this.selectedTelemetry.getTimestampConverted().value}}</p>
    <input (input)="changeTimeSelection($event.target.value)" type="range" min="1" step="1" [max]="this.timelineMax" [value]="this.timelineValue" class="timeline-slider">
  </div>
</div>
