<div class="card">
  <div class="card-header unique-color lighten-1 white-text">
    Uhrzeit auswählen
  </div>
  <div class="card-body">
    <p class="card-text" style="float:left;">
      <a (click)="playTrackedData()">
        <i *ngIf="!this.playMode" class="fa fa-play" aria-hidden="true"></i>
        <i *ngIf="this.playMode" class="fa fa-stop" aria-hidden="true"></i>
      </a>
    </p>

    <p *ngIf="this.selectedTelemetry" class="card-text" style="float:right;">
      <i class="fa fa-clock-o" aria-hidden="true"></i> {{this.selectedTelemetry.getTimestampConverted().value}}
    </p>

    <input (input)="changeTimeSelection($event.target.value)" type="range" min="1" step="1" [max]="this.timelineMax" [value]="this.timelineValue" class="timeline-slider">
  </div>
</div>
