<div class="card">
  <div class="card-header unique-color lighten-1 white-text">
    Zeitleiste
  </div>
  <div class="card-body">
    <p class="card-text" style="float:left;">
      <a (click)="togglePlayingTrackedData()">
        <i *ngIf="!this.playMode" class="fa fa-play" aria-hidden="true"></i>
        <i *ngIf="this.playMode" class="fa fa-stop blue-text" aria-hidden="true"></i>
      </a>
      &nbsp;
      <a (click)="toggleRepeatButton()">
        <i *ngIf="!this.loopMode" class="fa fa-retweet" aria-hidden="true"></i>
        <i *ngIf="this.loopMode" class="fa fa-retweet blue-text" aria-hidden="true"></i>
      </a>
    </p>

    <!-- TODO <p *ngIf="this.selectedTelemetry" class="card-text" style="float:right;">-->
      <!--<i class="fa fa-clock-o" aria-hidden="true"></i> {{this.selectedTelemetry.getTimestampConverted().value}}-->
    <!--</p>-->

    <input (input)="changeTimeSelection($event.target.value)" (change)="onChange($event.target.value)"  type="range" min="1" step="1" [max]="this.timelineMax" [value]="this.timelineSliderValue" class="timeline-slider">
  </div>
</div>
