<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-pink scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" href="#"><strong>DHBW goes Space</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a (click)="this.selectedItem = 'dashboard'" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a (click)="this.selectedItem = 'map'" class="nav-link">Karte</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a (click)="this.selectedItem = 'history'" class="nav-link">Verlauf</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a (click)="this.selectedItem = 'log'" class="nav-link">Log</a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<main>
  <div class="container" style="height:1300px;">
    <div class="row mt-5 pt-5">
      <div class="col">
        <app-dashboard *ngIf="this.selectedItem == 'dashboard'"></app-dashboard>
        <app-map *ngIf="this.selectedItem == 'map'"></app-map>
        <app-history *ngIf="this.selectedItem == 'history'"></app-history>
        <app-log *ngIf="this.selectedItem == 'log'"></app-log>
      </div>
    </div>
  </div>
</main>
