<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark stylish-color-dark scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" href="#"><strong>DHBW goes Space</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li [ngClass]="{'active': this.selectedItem === 'dashboard'}" class="nav-item waves-light" mdbRippleRadius>
        <a (click)="this.selectItem('dashboard')" name="dashboard" class="nav-link"><i class="fa fa-tachometer navbar-icon" aria-hidden="true"></i>Dashboard</a>
      </li>
      <li [ngClass]="{'active': this.selectedItem === 'map'}" class="nav-item waves-light" mdbRippleRadius>
        <a (click)="this.selectItem('map')" class="nav-link"><i class="fa fa-map navbar-icon" aria-hidden="true"></i>Karte</a>
      </li>
      <li [ngClass]="{'active': this.selectedItem === 'history'}" class="nav-item waves-light" mdbRippleRadius>
        <a (click)="this.selectItem('history')" class="nav-link"><i class="fa fa-history navbar-icon" aria-hidden="true"></i>Verlauf</a>
      </li>
      <li [ngClass]="{'active': this.selectedItem === 'log'}" class="nav-item waves-light" mdbRippleRadius>
        <a (click)="this.selectItem('log')" class="nav-link"><i class="fa fa-list navbar-icon" aria-hidden="true"></i>Log</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
